header {
  width: 100%;
  padding: 28px 8%;
  position: sticky;
  top: 0;
  background-color: rgb(124, 157, 190);
}
#navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav_logo {
  font-size: 20px;
  color: rgb(255, 255, 255);
}
#nav_list {
  display: flex;
  list-style: none;
  gap: 48px;
}
#nav_item a {
  text-decoration: none;
  color: rgb(248, 248, 248);
  font-weight: 600;
}
.nav-item.active a {
  color: rgb(248, 245, 245);
  border-bottom: 3px solid rgb(0, 0, 0);
}
#mobile_btn {
  display: none;
}
#mobile_menu {
  display: none;
}
@media screen and (max-width: 1170px) {
  #nav_list,
  #navbar .btn-default {
    display: none;
  }

  #mobile_btn {
    display: block;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
  }
  #mobile_menu.active {
    display: block;
    flex-direction: column;
    align-items: center;
  }

#mobile_nav_list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0px;
}
#mobile_nav_list nav-item {
  list-style: none;
  text-align: center;

}
}


