@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Amatic SC", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
}
body {
    background-color: rgb(124, 157, 190);
}

section {
    padding: 28px 8%;
}

.btn-default {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(60, 60, 116);
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1); 
    cursor: pointer;
    transition: background-color .3s ease;
}
.btn-default:hover {
    background-color: rgb(163, 121, 69);
}
.social-media-buttons {
    display: flex;
    gap: 18px;
}
.social-media-buttons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transform: box-shadow .3s ease;
}
.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgb(0, 0, 0, 0.1);
}
.section-title {
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
}
.section-subtitle {
    font-size: 2.1857rem;
    color: aliceblue;
}
footer {
    width: 100%;
    color: black;
}

#footer-link {
    text-decoration: none;
} 

#footer_content {
    background-color: rgb(248, 243, 243);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}
#footer_contacts h1 {
    margin-bottom: 0.75rem;
}
#footer_social_media {
    display: flex; 
    gap: 2rem;
    margin-top: 1.5rem;
}
#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: black;
    border-radius: 50%;
    transition: 0.4s;
} 

#footer_social_media .footer-link i {
    font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
    opacity: 0.8;
}

#instagram {
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#github {
    background-color: #fcfcfc;
}

#twitter {
    background-color: #06a3fd;
}
.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}
.footer-list .footer-link {
    color: rgb(124, 157, 190);
    transition: all 0.4s;
}
.footer-list .footer-link:hover {
    color: rgb(124, 157, 190)
}
.footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.footer_subscribe p {
    color: #a8a29e;
}
#input_group {
    display: flex;
    align-items: center;
    background-color: rgb(3, 3, 3);
    border-radius: 4px;
}
#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
}
#input_group button {
    background-color: rgb(124, 157, 190);
    border: none;
    color: white;
    padding: 1.25rem;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}
#input_group button:hover {
    opacity: 0.8;
}
#footer_copyright {
    display: flex;
    justify-content: center;
    background-color: rgb(101, 147, 201);
    font-size: 0.9rem;
    padding: 1.5rem;
    font-weight: 100;
}
@media screen and (max-width: 768px) {
    #footer_content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width: 426px) {
    #footer_content {
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 2rem;
    }
}





